.chatList{
  padding: 0px 35px;
}

.chatMessage {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  display: table;
}

.box {
  padding: 3px 8px;
  border-radius: 25%;
}

.own {
  margin-left: auto !important;
  background-color: #0566cd !important;
  color: white;
}

.other{
  background-color: #ffffff;
}

.system{
  margin-left: auto !important;
  margin-right: auto !important;
  color: red;
  font-size: 0.6em;
}
